# Ciclo : For

In [1]:
numeros=[1,2,3,4,5,6,7]

In [2]:
numeros

[1, 2, 3, 4, 5, 6, 7]

In [4]:
for i in numeros:
    print(i)

1
2
3
4
5
6
7

In [5]:
dict1={"A":2,"B":3,"C":4}
for k in dict1:
    print(k)

A
B
C

In [7]:
for l in dict1.values():
    print(l)

2
3
4

In [9]:
for k,l in dict1.items():
    print(k,l)

A 2
B 3
C 4

In [10]:
for e in range(0,20,2):
    print(e)

0
2
4
6
8
10
12
14
16
18

In [11]:
numeros

[1, 2, 3, 4, 5, 6, 7]

In [12]:
for n in numeros:
    if n==5:
        break
    print(n)

1
2
3
4

In [15]:
for n in numeros:
    if n==5:
        continue
    print(n)

1
2
3
4
6
7

# Ejercicio (Básico)

In [25]:
dict2={"Miguel":18,"Edwin":23,"Erick":28,"Pedro":16,"Pau":25,"Liliana":20,"MArco":25,"Claudia":21,"Roland":25,"Gerardo":9,"Jonathan":15,"Paco":13,"Yolanda":4,"Julio":28,"Victor":3,"Gustavo":8,"Paulina":25}
for key,value in dict2.items():
    print("Nombre:",key,"\tValor:",value)
print("El valor Máximo es:",max(dict2.values()))
print("El valor Mínimo es:",min(dict2.values()))

Nombre: Miguel 	Valor: 18
Nombre: Edwin 	Valor: 23
Nombre: Erick 	Valor: 28
Nombre: Pedro 	Valor: 16
Nombre: Pau 	Valor: 25
Nombre: Liliana 	Valor: 20
Nombre: MArco 	Valor: 25
Nombre: Claudia 	Valor: 21
Nombre: Roland 	Valor: 25
Nombre: Gerardo 	Valor: 9
Nombre: Jonathan 	Valor: 15
Nombre: Paco 	Valor: 13
Nombre: Yolanda 	Valor: 4
Nombre: Julio 	Valor: 28
Nombre: Victor 	Valor: 3
Nombre: Gustavo 	Valor: 8
Nombre: Paulina 	Valor: 25
El valor Máximo es: 28
El valor Mínimo es: 3

# Ejercicio (Avanzado)

In [27]:
import numpy as np

In [33]:
dict3={}
list3=["Miguel","Edwin","Erick","Pedro","Pau","Liliana","MArco","Claudia","Roland","Gerardo","Jonathan","Paco","Yolanda","Julio","Victor","Gustavo","Paulina"]
for nombre in list3:
    valor=np.random.random() * 50
    dict3.update({nombre:valor})
for key,value in dict3.items():
    print("Nombre:",key,"\tValor:",value)
print("El valor Máximo es:",max(dict3.values()))
print("El valor Mínimo es:",min(dict3.values()))

Nombre: Miguel 	Valor: 6.648119311041162
Nombre: Edwin 	Valor: 38.97885342961776
Nombre: Erick 	Valor: 43.8924697135265
Nombre: Pedro 	Valor: 22.061053284829864
Nombre: Pau 	Valor: 18.132970554192546
Nombre: Liliana 	Valor: 43.9237711272889
Nombre: MArco 	Valor: 38.847183271011765
Nombre: Claudia 	Valor: 48.68208639817543
Nombre: Roland 	Valor: 40.50409599372244
Nombre: Gerardo 	Valor: 3.616768979404028
Nombre: Jonathan 	Valor: 27.194478969356272
Nombre: Paco 	Valor: 28.52490808283217
Nombre: Yolanda 	Valor: 13.659477254619112
Nombre: Julio 	Valor: 30.918844333075896
Nombre: Victor 	Valor: 38.623370257769665
Nombre: Gustavo 	Valor: 13.901329274471264
Nombre: Paulina 	Valor: 0.3607112309627514
El valor Máximo es: 48.68208639817543
El valor Mínimo es: 0.3607112309627514

# Ciclo : While

In [35]:
numero=int(input("Captura un numero positivo:"))
while numero<0:
    numero=int(input("El número escrito no es positivo, intente de nuevo:"))
print("Gracias!")

Captura un numero positivo:-5
El número escrito no es positivo, intente de nuevo:-7
El número escrito no es positivo, intente de nuevo:-1
El número escrito no es positivo, intente de nuevo:0
Gracias!

In [36]:
num0=1
num1=0
while num0 <= 10:
    num1+=num0
    num0+=1
print("La suma es " + str(num1))

La suma es 55

In [37]:
total=0
conteo=0
print("Ingrese la nota del estudiante (-1 para salir):")
grado=float(input())
while grado != -1:
    total+=grado
    conteo+=1
    grado=float(input("Ingrese la nota del estudiante (-1 para salir):"))
prom=total / conteo
print("El promedio de las notas es:"+str(prom))

Ingrese la nota del estudiante (-1 para salir):
5
Ingrese la nota del estudiante (-1 para salir):7
Ingrese la nota del estudiante (-1 para salir):9
Ingrese la nota del estudiante (-1 para salir):8
Ingrese la nota del estudiante (-1 para salir):9
Ingrese la nota del estudiante (-1 para salir):7
Ingrese la nota del estudiante (-1 para salir):5
Ingrese la nota del estudiante (-1 para salir):7
Ingrese la nota del estudiante (-1 para salir):8
Ingrese la nota del estudiante (-1 para salir):-1
El promedio de las notas es:7.222222222222222